{% extends 'info/base.html' %}

{% block content %}
    <div class="container mt-5">
        <main class="row">
            <div class="col-md-12">
                <h1>Страница с услугами</h1>
                <p class="lead"><h2>Быстро</h2></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, officiis, commodi qui 
                        reprehenderit soluta odio quam nobis dolore nihil aliquam quidem perferendis dignissimos 
                        a nam, atque porro error esse mollitia.</p>
                <p class="lead"><h2>Дешево</h2></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, officiis, commodi qui 
                            reprehenderit soluta odio quam nobis dolore nihil aliquam quidem perferendis dignissimos 
                            a nam, atque porro error esse mollitia.</p>
                    <p class="lead"><h2>Качественно</h2></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, officiis, commodi qui 
                                reprehenderit soluta odio quam nobis dolore nihil aliquam quidem perferendis dignissimos 
                                a nam, atque porro error esse mollitia.</p>
            </div>
        </main> 
    </div>
{% endblock %}
    